body {
    text-align: center;
}

span.square {
    display: inline-block;
}

span.square:hover, span.square *:hover {
    cursor: position;

}

.human-player {
    /* display: none; */
    outline: 3px solid black;
    outline-offset: -3px;
}

.computer-player {
    /* display: none; */
    outline: 3px solid white;
    outline-offset: -3px;
}

#cP {
    display: none;
}

#hP {
    display: none;
}